@charset "utf-8";

.footer {
  margin-top: 8rem;
  width: 100%;
  border-top: 0.1rem solid #e5e5e8;
}
.footer-top {
  position: relative;
  width: 100%;
  background-color: #fff;
  max-width: 122.8rem;
  margin: auto;
  padding: 0 2.4rem;
}
.footer-top > ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 5.5rem;
  border-left: 0.1rem solid #e5e5e8;
}
.footer-top > ul > li {
  position: relative;
  flex: 1;
  width: 100%;
  border-right: 0.1rem solid #e5e5e8;
}
.footer-top > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 1.6rem;
  line-height: 2.1rem;
  cursor: pointer;
}
.footer-top > ul > li > a > span {
  font-size: 1.6rem;
}
.footer-top > ul > li > a > img {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: -0.7rem;
}

.footer-top .submenu {
  display: none;
  position: absolute;
  width: auto;
  height: 29.4rem;
  left: -0.1rem;
  right: -0.1rem;
  bottom: 5.6rem;
  background-color: #fff;
  border: 0.1rem solid #e5e5e8;
  border-bottom: 0;
  z-index: 5;
  padding: 3rem 2.4rem;
}
.footer-top .submenu > li {
  position: relative;
}
.footer-top .submenu > li > a {
  font-size: 1.4rem;
  color: #5a5b63;
  line-height: 2.6rem;
}
.footer-top .submenu > li:hover > a {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #f7f8f9;
}
.footer-bottom-inner {
  position: relative;
  max-width: 122.8rem;
  padding: 2rem 2.4rem 6rem;
  margin: auto;
}
.policy {
  display: flex;
  margin-bottom: 2rem;
  align-items: stretch;
  justify-content: flex-start;
  /* gap: 0 4.1rem; */
  flex-wrap: wrap;
}
.policy > a {
  display: flex;
  align-items: stretch;
  justify-content: center;
  color: #5a5b63;
  font-size: 1.4rem;
  line-height: 2.1rem;
  border-right: 0.1rem solid #e5e5e8;
  padding: 0 2.1rem;
}
.policy > a:first-child {
  padding-left: 0;
}
.policy > a:last-child {
  border: 0;
}
.policy > a:nth-of-type(7) {
  color: #0b0d0f;
  font-family: "SS-bold", sans-serif;
}
.policy > a:nth-of-type(8) {
  color: #0b0d0f;
  font-family: "SS-bold", sans-serif;
}

.info {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid;
  border-top-color: #e9e9ef;
}
.info-left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1.4rem;
  color: #5a5b63;
  line-height: 2rem;
}
.info-left > ul {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.info-left > ul > li {
  border-right: 0.1rem solid #e5e5e8;
  padding: 0 1.2rem;
}
.info-left > ul > li:first-child {
  padding-left: 0;
}
.info-left > ul > li:last-child {
  border: 0;
}

.copy {
}
.info-right {
  margin-bottom: 0;
  text-align: center;
  order: 1;
}
.info-right > a {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 0 0.4rem;
  border-radius: 3rem;
  background-color: #fff;
  border: 0.1rem solid;
  border-color: #e5e5e8;
  color: #0068ff;
  min-height: 3.2rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  min-width: 5rem;
  font-family: "SS-bold", sans-serif;
  text-align: left;
}
.info-right > a > img {
}
.bt-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}
.bt-logo-wrap > img {
  width: 8.8rem;
  height: 3rem;
}
.bt-logo-wrap > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.bt-logo-wrap > ul > li {
}
.bt-logo-wrap > ul > li > a {
}
.bt-logo-wrap > ul > li > a > img {
  width: 3.7rem;
  height: 2.4rem;
}

.sns-wrap-mb,
.policy-wrap-mb {
  display: none;
}
.mob-only {
  display: none;
}
.bt-navbar {
  display: none;
}

@media screen and (max-width: 1219px) {
  .footer {
    background-color: #f7f8f9;
    border-top: 0;
  }
  .footer-top,
  .footer-bottom .policy {
    display: none;
  }
  .footer-bottom-inner {
    padding: 3rem 2.4rem 14rem;
    margin: auto;
  }
  .sns-wrap-mb,
  .policy-wrap-mb {
    display: block;
  }
  .sns-wrap-mb {
    position: relative;
    margin-bottom: 2rem;
  }
  .sns-wrap-mb > ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .sns-wrap-mb > ul > li {
    position: relative;
    padding-left: 2.1rem;
  }

  .sns-wrap-mb > ul > li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background-color: #e9e9ef;
  }
  .sns-wrap-mb > ul > li:first-child::before {
    display: none;
  }
  .sns-wrap-mb > ul > li:first-child {
    padding-left: 0;
  }

  .sns-wrap-mb > ul > li > a {
    width: 3rem;
    height: 3rem;
  }
  .sns-wrap-mb > ul > li > a > img {
    width: 100%;
    height: 100%;
  }

  .policy-wrap-mb {
    margin-bottom: 2rem;
  }
  .policy-wrap-mb > ul {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem 1.6rem;
  }
  .policy-wrap-mb > ul > li {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .policy-wrap-mb > ul > li > a {
    font-size: 1.4rem;
    color: #0b0d0f;
    line-height: 2.1rem;
  }
  .item-br {
    flex: 0 0 100%;
  }
  .policy-wrap-mb > ul > li:nth-of-type(n + 6):nth-of-type(-n + 8) > a {
    font-family: "SS-bold", sans-serif;
  }
  .policy-wrap-mb > ul > li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.9rem;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background-color: #e5e5e8;
  }

  .policy-wrap-mb > ul > li:nth-of-type(1):before {
    display: none;
  }
  .policy-wrap-mb > ul > li:nth-of-type(6):before {
    display: none;
  }
  .policy-wrap-mb > ul > li:nth-of-type(8):before {
    display: none;
  }
  .info {
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .info-right {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-right > a {
    position: relative;
    gap: 0 0.4rem;
    width: 205px;
  }
  .info-right > a > img {
  }
  .info-left {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .info-left > ul {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
  }
  .info-left > ul > li {
    position: relative;
    border-right: 0;
    text-align: center;
    padding: 0;
  }
  .flex-full {
    flex: 1 100%;
  }

  .copy {
    text-align: center;
    margin-top: 0.5rem;
  }
  .mob-only {
    display: block;
  }
  .bt-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 92px;
    z-index: 440;
  }
  .bt-navbar-inner {
    position: relative;
    height: 92px;
    padding: 1.6rem 1rem 0.2rem;
  }
  .bt-navbar-inner > ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }
  .bt-navbar-inner > ul > li {
    position: relative;
    flex: 1 1 6.9rem;
  }
  .bt-navbar-inner > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 5.6rem;
    padding-top: 0.1rem;
    gap: 0.1rem;
  }
  .bt-navbar-inner > ul > li:nth-of-type(3) > a > p {
    margin-top: 4.4rem;
  }
  .consultant {
    flex: 1 6.9rem;
    height: 6.9rem;
  }

  .bt-navbar-inner > ul > li > a::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/main/homepage/bottom_nav_i1_on.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .bt-navbar-inner > ul > li:nth-of-type(1) > a::before {
    background-image: url(../images/main/homepage/bottom_nav_i1_on.svg);
  }
  .bt-navbar-inner > ul > li:nth-of-type(2) > a::before {
    background-image: url(../images/main/homepage/bottom_nav_i2_off.svg);
  }
  .bt-navbar-inner > ul > li:nth-of-type(3) > a::before {
    background-image: url(../images/main/homepage/bottom_nav_consultant_off.png);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    height: 7rem;
    background-position: top center;
  }
  .bt-navbar-inner > ul > li:nth-of-type(4) > a::before {
    background-image: url(../images/main/homepage/bottom_nav_i3_off.svg);
  }
  .bt-navbar-inner > ul > li:nth-of-type(5) > a::before {
    background-image: url(../images/main/homepage/bottom_nav_i4_off.svg);
  }

  .bt-navbar-inner > ul > li > a > p {
    font-family: "SS-bold";
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: #7e89a2;
  }
  .bt-navbar-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92px;
    z-index: -1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  .bt-navbar-bg::before {
    content: "";
    flex: 1 auto;
    height: 9.2rem;
    background-image: url(../images/main/homepage/bottom_nav_bg_line.png);
    background-repeat: repeat-x;
    background-size: auto 9.2rem;
    z-index: 1;
  }
  .bt-navbar-bg .round {
    background-image: url(../images/main/homepage/bottom_nav_bg_round.png);
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    flex: 0 0 8rem;
    width: 8rem;
  }
  .bt-navbar-bg::after {
    content: "";
    flex: 1 auto;
    height: 9.2rem;
    background-image: url(../images/main/homepage/bottom_nav_bg_line.png);
    background-repeat: repeat-x;
    background-size: auto 9.2rem;
    z-index: 1;
  }
}
