@charset "utf-8";

.main {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin-top: 3rem;
}
.main .inner {
  width: 100%;
  max-width: 123.4rem;
  position: relative;
  height: auto;
  margin: 0 auto;
  display: flex;
  padding: 0 2.4rem;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 3rem;
}
.main-left {
  position: relative;
  flex: 0 0 77.6rem;
  width: 77.6rem;
  order: 0;
}

/* 로그인 메뉴 모바일 */
.login-wrap-mb {
  display: none;
}

/* 자주찾는 메뉴 모바일 */
.shortcut-wrap-mb {
  display: none;
}

/* 사이드배너 모바일 */
.side-banner-wrap-mb {
  display: none;
}

.main-right {
  position: relative;
  flex: 0 0 33.5rem;
  width: 33.5rem;
  order: 1;
}
.product-section {
  position: relative;
  margin-top: 5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.product-section > h4 {
  padding: 0 0.4rem;
  margin-bottom: 1.6rem;
  font-family: "SS-bold", sans-serif;
  font-size: 2.6rem;
  line-height: 3.4rem;
  color: #0b0d0f;
}

.product-wrap {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0 3.2rem;
}
.product-left {
  position: relative;
  display: block;
  flex: 0 0 17rem;
  margin-top: 6rem;
}

.product-left > a {
  display: block;
}
.product-left > a > img {
  width: 17rem;
  height: 17rem;
  display: block;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.7, 1);
}
.product-left > a:hover > img {
  transform: scale(1.1);
}

.product-left .text {
  font-size: 1.8rem;
  line-height: 2.4rem;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  color: #0b0d0f;
}
.product-left .text > p {
  color: #0b0d0f;
}
.product-rigth {
  position: relative;
  gap: 3rem 3.2rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-rigth .card {
  position: relative;
  display: flex;
  align-items: stretch;
  flex: 0 0 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 27.1rem;
  width: 27.1rem;
  height: 30.1rem;
  padding: 3rem 2.6rem;
  box-shadow: 0 1rem 2.4rem -0.8rem rgba(0, 0, 0, 0.18),
    0 -0.6rem 1.5rem -0.6rem rgba(0, 0, 0, 0.04);
  border-radius: 2rem;
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
}
.product-rigth .card:hover {
  border: 0.2rem solid #0068ff;
  border-radius: 2rem;
  transform: translateY(-20px);
  box-shadow: 0 1rem 2.4rem 0 rgba(0, 0, 0, 0.18);
}

.product-rigth .card > img {
  width: 9.6rem;
  height: 9.6rem;
  object-fit: contain;
  order: 0;
  margin: 0 auto 4rem 0;
}
.product-rigth .card .text {
  position: relative;
}

.product-rigth .card .text > h5 {
  order: 0;
  flex: 0;
  padding-left: 0.4rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "SS-bold", sans-serif;
}
.product-rigth .card .text > p {
  margin-top: 1rem;
  order: 1;
  flex: 0;
  padding-left: 0.4rem;
  color: #868a93;
  line-height: 2.2rem;
  font-size: 1.6rem;
}

.main-right {
  position: relative;
  flex: 0 0 33.5rem;
  width: 33.5rem;
  order: 1;
}
.login-wrap {
  position: relative;
  padding: 3rem 2rem 2rem;
  background-color: #fff;
  border-radius: 2rem;
  border: 0.1rem solid #e5e5e8;
}
.shortcut-wrap {
  position: relative;
  padding: 3rem 2.5rem;
  border-radius: 2rem;
  border: 0.1rem solid #e5e5e8;
  margin-top: 3rem;
}
.shortcut-wrap > h4 {
}
.shortcut-wrap > ul {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem 1.3rem;
}
.side-banner-wrap {
  position: relative;
  margin-top: 3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.side-banner {
  border-radius: 2rem;
  overflow: hidden;
}
.side-banner > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: left;
  width: 100%;
  min-height: 14rem;
  padding: 3.1rem 2.4rem 3.2rem 2.4rem;
}
.side-banner .text {
  position: relative;
  z-index: 2;
}

.side-banner .text > h5 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "SS-bold", sans-serif;
}
.side-banner .text > p {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  color: #727780;
  line-height: 2rem;
}

.side-banner > a > img {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.7, 1);
  width: 14rem;
  height: 14rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
