@charset "utf-8";

.modal-wrap {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 99999;
}

.modal-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* 모달 헤더 */
.modal-header {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 54px;
  z-index: 3;
  padding-left: 2.4rem;
  padding-right: 6.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
}

.modal-nav-logo {
  display: flex;
  gap: 0 1rem;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  font-family: "SS-bold";
}
.modal-nav-logo .logo {
}
.modal-nav-logo .logo > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 7rem;
  height: 100%;
}
.modal-nav-logo .logo > a > span {
  display: block;
  font-size: 0;
  overflow: hidden;
  width: 100%;
  height: 2.2rem;
  background-image: url(../images/common/logo-text-blk.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.modal-nav-logo .login-btn {
  position: relative;
}
.modal-nav-logo .login-btn > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 3.2rem;
  font-size: 1.4rem;
  background-color: #0068ff;
  border: 0.1rem solid;
  border-color: #0068ff;
  border-radius: 3rem;
  color: #fff;
  padding: 0.5rem 1.2rem;
  line-height: 2rem;
  cursor: pointer;
  letter-spacing: -0.08rem;
  width: auto;
}
.modal-nav-logo .login-btn > a > span {
}
.modal-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.4rem;
  background-image: url(../images/common/ico-header-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 999;
  cursor: pointer;
}
.modal-menu-wrap {
  position: relative;
  margin-top: 54px;
  padding: 0 0 6rem;
  background-color: #fff;
  scroll-behavior: smooth;
}
.modal-serchbar {
  position: relative;
  margin-bottom: 2.4rem;
  padding: 0 2rem;
}
.modal-serchbar input {
  width: 100%;
  height: 5.6rem;
  border: 0.1rem solid #e5e5e8;
  border-radius: 1.2rem;
  padding: 0 2rem;
}
.modal-serchbar input::placeholder {
  font-size: 1.6rem;
  color: #9095a1;
  font-family: "SS-bold";
}

.modal-serchbar::after {
  content: "";
  position: absolute;
  top: 1.6rem;
  right: 4rem;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../images/common/ico-search-24.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.modal-menu {
  position: relative;
}

.modal-menu-nav {
  position: sticky;
  top: 54px;
  z-index: 3;
  background-color: #fff;
  padding: 1.6rem 0;
}

.modal-menu-nav > ul {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 1rem 0.4rem;
  width: 100%;
  padding: 0 2rem;
  align-items: center;
  max-height: fit-content;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.modal-menu-nav > ul > li {
  position: relative;
}
.modal-menu-nav > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
  text-align: center;
  border-radius: 2rem;
  background-color: #f7f8f9;
  cursor: pointer;
  font-size: 1.6rem;
  color: #5a5b63;
  line-height: 2rem;
}

.modal-menu-nav > ul > li.on > a {
  background-color: #0b0d0f;
  color: #fff;
}

.modal-menu-list {
  position: relative;
  margin-top: 1.4rem;
  padding: 0 2.4rem;
}
.modal-menu-list > div {
  position: relative;
  padding-top: 4rem;
}
.modal-menu-list > div:first-child {
  padding-top: 0;
}

.modal-menu-list > div > h4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.1rem;
  gap: 0 1rem;
  border-bottom: 0.1rem solid #5a5b63;
  font-family: "SS-bold";
  color: #0b0d0f;
  overflow: hidden;
  font-size: 1.8rem;
}
.modal-menu-list > div > h4::before {
  content: "";
  width: 0.5rem;
  height: 1.5rem;
  background-color: #0068ff;
}
.modal-menu-list > div:nth-of-type(2) > h4::before {
  background-color: #00b7fd;
}
.modal-menu-list > div:nth-of-type(3) > h4::before {
  background-color: #ff6060;
}
.modal-menu-list > div:nth-of-type(4) > h4::before {
  background-color: #ff9445;
}
.modal-menu-list > div:nth-of-type(5) > h4::before {
  background-color: #ffc000;
}
.modal-menu-list > div:nth-of-type(6) > h4::before {
  background-color: #19cb8b;
}

.modal-submenu {
  position: relative;
  width: 100%;
}

.modal-submenu > li {
  position: relative;
  border-bottom: 0.1rem solid #f5f6f7;
  width: 100%;
}

.modal-submenu > li > a {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  color: #0b0d0f;
  padding: 1.2rem 0 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-submenu > li > a::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url(../images/common/ico-common-arrow-14.svg) no-repeat center;
  background-size: contain;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.modal-submenu > li > ul {
  position: relative;
  width: 100%;
  height: 0;
  /* padding-top: 0.6rem; */
  /* border-top: 1px solid #f5f6f7; */
  margin-bottom: 1rem;
  overflow: hidden;
  transition: height 0.3s;
}
.modal-submenu > li > ul > li {
  position: relative;
  width: 100%;
}
.modal-submenu > li > ul > li > a {
  position: relative;
  width: 100%;
  padding: 1rem 0 1rem 3.1rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
}

.modal-footer {
  position: relative;
  width: 100%;
}
.modal-footer-inner {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 2rem 0;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.8rem;
  margin: 0;
}
.modal-footer-inner > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 0.8rem);
  min-height: 44px;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1rem 1.6rem 1.2rem;
  background-color: #f7f8f9;
  font-family: "SS-bold";
}
